:root {

    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, #FD9800 0%, rgba(0, 102, 255, 0.880208) 102.64%, rgba(217, 217, 217, 0) 102.65%);
    background-attachment: fixed;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 100%;
}

.box-div {

    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    position: absolute;
    width: 90%;
    
    background: #D9D9D9;
    border-radius: 29px;


}
.question {
    z-index: 0;
    background: rgba(255, 255, 255, 0.880208);
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

p{
text-align: center;
}

#spanA {
  position: relative;
  right: 7%;
  color: white;
  background-color: orange;
  padding-right: 2%;
  border-radius: 100px;
  
}

#spanA:hover{
    background-color: rgb(191, 125, 3);
}

#spanB {
    position: relative;
    left: 5%;
    color: white;
        background-color: rgb(0, 166, 255);
        padding-right: 2%;
        border-radius: 10px;
}



#spanC {
    position: relative;
    right: 7%;
    position: relative;
    color: white;
    background-color: rgb(0, 166, 255);
    padding-right: 2%;
    border-radius: 10px;
}



#spanD {
    position: relative;
    left: 5%;
    color: white;
    background-color: orange;
    padding-right: 2%;
    border-radius: 10px;
    
}




#question-interpreté-input{
    position: relative;
    left: 17%;
    
    
}

input{
position: relative;
top: 1%;
}



