html {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 38, 121, 1) 27%, rgba(8, 50, 130, 1) 32%, rgba(0, 212, 255, 1) 100%);
    margin: 0%;
    padding: 0%;

}

#bruh {
    text-align: center;
    color: white;
    background-color: rgb(26, 25, 25);
    margin-top: 10%;
    width: 70%;
    position: absolute;
    top: 10%;
    left: 16%;
    height: 80vh;
    margin: auto;
    font-size: 120%;
    border-radius: 6%;
}

#SUBMIT-EL {
    border-radius: 10%;
}

#SUBMIT-EL:hover {
    background-color: grey;
    padding: 100%;
}